/* .cloud1{
  position: relative;
  display: inline-block;
  width:200px;
  height:200px;
  left: 750px;} */

/* .Top-Container{
  background: gold;
  height: 200px;
  width: 200px;

  margin: 0;

}
.Middle-Container{
  background: cyan;
  height: 200px;
  width: 200px;
}
.i1{
  width: 500px;
  height:500px;
}
.hp{
  color: gold;
  text-decoration:underline;
  background-color: black;
}
/* p{
  background-color: black;
  color:white;
  width: 200px;
  height:300px;

  display: inline-block;
} */
/* .s1
{
  visibility: hidden;
  /* display: none;
}
/*INline tags contain spans imaghes and anchor tags ..
Width property does not exist withn span */
